.talk-title {
  margin-bottom: 110px
}
.talk-meta {
  left: 1em;
  width: 100%
}
.talk-author {
  font-size: 1em
}
.talk-date {
  font-size: .8em
}

.hide-count .remark-slide-number {
  display: none;
}

.highlight-last-item > ul > li,
.highlight-last-item > ol > li {
  opacity: 0.5;
}
.highlight-last-item > ul > li:last-of-type,
.highlight-last-item > ol > li:last-of-type {
  opacity: 1;
}

.profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

.profile-circle{
  border-radius: 50%;
  width: 270px;
  height: 270px;
  margin: 0 auto;
  object-fit: cover;
}
