.talk-title {
  margin-bottom: 110px
}
.talk-meta {
  left: 1em;
  width: 100%
}
.talk-author {
  font-size: 1em
}
.talk-date {
  font-size: .8em
}

.hide-count .remark-slide-number {
  display: none;
}

.highlight-last-item > ul > li,
.highlight-last-item > ol > li {
  opacity: 0.5;
}
.highlight-last-item > ul > li:last-of-type,
.highlight-last-item > ol > li:last-of-type {
  opacity: 1;
}

.container {
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-columns;: 1fr 1fr;
  grid-template-areas:
    "header header"
    "grid-left grid-right"
    "grid-footer grid-footer"
}

.header {
  grid-area: header
}

.grid-left {
  grid-area: grid-left
}

.grid-right {
  grid-area: grid-right
}

.grid-footer {
  grid-area: grid-footer
}
