.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #002ab5; /* #FF961C; */
  font-size: 15px;
  font-weight: 400;
}

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: white;
  text-decoration: underline;
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
